@import 'configs';
@import 'utilities';

// Global
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.7px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

// Showcase
.showcase {
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
  height: calc(100vh - 2rem);
  margin: 1rem !important;
  // background: #2980b9;
  background-image: linear-gradient(
    to bottom right,
    #2980b9,
    darken(#2980b9, 20)
  );
  color: #fff;

  &::before,
  &::after {
    content: '';
    position: absolute;
    transform: skewY(-2deg);
    height: 100px;
    bottom: -70px;
    left: 0;
    right: -1px;
    background-color: #fff;
  }
}

// About
.about {
  position: relative;
  margin-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    margin-bottom: 2rem;
  }

  h3 {
    margin: 1rem 0;
  }

  &-image {
    width: 100%;
    height: 100%;
  }
}

// Skills
.skills {
  background-color: $primary-color;
  padding: 2rem 0;

  .flex {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .card {
    text-align: center;
    color: #fff;
    padding: 0;
  }

  img {
    width: 8rem;
    height: 8rem;
  }
}


// Portfolio
.portfolio {
  padding-top: 2rem;

  .flex {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .project {
    background-color: #3498db;
    
    &-header {
      background-color: #2980b9;
      padding: 1rem;
    }
    
    &-body {
      padding: 1rem;

      ul {
        list-style: none
      }

      li::before {
        content: '>';
        padding-right: 1rem;
      }
    }
  }

}